#para{
    width: 200px;
   height: 200px;
   color: rgb(12, 5, 18);
background-color: rgba(145, 226, 237, 0.642);
   cursor: pointer;
   display: inline-block;
   padding: 10px 20px;
   text-align: center;
   
   padding: 50px;
   
     }  
     #para:hover{
   background-color: rgb(8, 121, 220);
   opacity: 70%;
 
 }
 #para:active{
   background-color: blue;
   opacity: 70%;
 }    
 
 .center{
  margin: auto;
  width: 50%;
  border: 3px solid green;
 }             
 body{
  background-image: url("292.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: static;
 }
 #fromup{
  
 }
 h1{
  text-decoration: underline white;
  color: rgb(246, 244, 243);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif     ;
text-align: center;
font-weight: 150px white;
font-size: 2.5rem;
-webkit-text-stroke: 2.5px rgb(15, 5, 90);
/*text-shadow: 2px 2px 5px rgb(33, 4, 130);*/
}
TABLE{
  margin: auto;
  width: 25%;
  margin-top: 100px;
  border: 3px solid #73AD21 outset;
  padding: 10px;
  
}
#para a{
  text-decoration:none;
  color: black;
  padding: 0;
}
div {
  width: 100px;
  height: 100px;
  background-color: red;
  position:relative;
  animation-name: example;
  animation-duration: 10s;
  margin-bottom:200px;
  animation-iteration-count: infinite;
}


@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:80%; top:0px;}
  50%  {background-color:blue; left:80%; top: 120px;}
  75%  {background-color:green; left:0px; top:120px;}
  100% {background-color:red; left:0px; top:0px;}
}

 #gat{
   width: 98px;
   height: 98px;
   color: rgb(12, 5, 18);
   background-color: rgba(145, 226, 237, 0.642);
   cursor: pointer;
   display: inline-block;
   text-align: center;
   padding: 50px ;
   align-items: center;
   text-decoration: none;
   border: outset 2px;
  color: black;
 }  
 #gat:hover{
  background-color: rgb(8, 121, 220);
  opacity: 70%;
 }
 #gat:active{
  background-color: blue;
  opacity: 70%;
 }
